# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
*.sqlite3

# Android Studio / Java
.idea/
.gradle/
build/
*.iml
local.properties
captures/
.cxx/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# OS Files
Thumbs.db
ehthumbs.db
desktop.ini

# Backup files
*.bak
*.tmp
*.swp
*.swo

# Misc
*.zip
*.tar.gz
*.egg-info/
